.title{
    font-size: 1.625rem;
    color:#FFFFFF;
    margin-bottom: 2rem;
}

.subtitle{
    font-size: 0.75rem;
    color:#FFFFFF;
    line-height: 2rem;
}

.avatar_style{
    width: 180px;
    height: 180px;
    margin: 5rem 0 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.avatar_style > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width:800px) {
    .avatar_style{
        width: 140px;
        height: 140px;
    }
}